.header{
    background-color: #252931;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 400;
    border-bottom: 1px solid #3b3e46;  
}
.header-mover{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.social-tabs{
    float:right;
}
.logo{
    width: 32px;
    padding: 10px 10px 10px 0;
    float: left;
}
.fa-github{
    filter: brightness(0) invert(1);
}